#morelist {
    @include flexbox();
    @include flex-direction(column);
    height: 100%;
    header {
        height: 0.45rem;
        background: #fff;
        border-bottom: 1px solid #f6f6f6;
        @include flexbox();
        @include flex-direction();
        padding: 0 0.15rem;
        i {
            @include flex(1);
            line-height: 0.45rem;
        }
        span {
            @include flex(1);
            text-align: center;
            font-size: 0.15rem;
            color: #1f1f1f;
            font-weight: 600;
            line-height: 0.45rem;
        }
        &::after {
            content: "";
            @include flex(1);
        }
    }
    ul {
        @include flex(1);
        background: #fff;
        overflow-y: scroll;
        width: 100%;
        li {
            padding: 0 0.15rem;
            a {
                height: 1.25rem;
                @include flexbox();
                @include flex-direction();
                @include justify-content(center);
                @include align-items(center);
            }
            img {
                width: 0.75rem;
                height: 1rem;
                -webkit-box-shadow: 0px 3px 15px 5px #ddd;
                -moz-box-shadow: 0px 3px 15px 5px #ddd;
            }
            .desc {
                @include flex(1);
            }
        }
    }
}